<div class="container mt-5 text-center">
  <div class="input-group mb-5">
    <input [(ngModel)]="filter" class="form-control" placeholder="Pesquisar aluno">
  </div>
  <div class="btn-group m-5 d-flex justify-content-center ">
    <button routerLink="/add-student" class="btn btn-outline-secondary m-4">Adicionar Estudante</button>
    <button routerLink="/home" class="btn btn-primary m-4">Voltar</button>
  </div>
  <table class="table table-striped mt-5">
    <tr>
      <td>#</td>
      <td>Nome</td>
      <td>E-mail</td>
      <td>Curso</td>
      <td>Matrícula</td>
    </tr>
    <tr *ngFor="let stutend of filteredStudents" class="table">
      <td>{{ stutend.id }}</td>
      <td>{{ stutend.name }}</td>
      <td>{{ stutend.email }}</td>
      <td>{{ stutend.course }}</td>
      <td>{{ stutend.registration }}</td>
    </tr>
  </table>
</div>
