<div class="container mt-5 p-5  d-flex flex-column">

  <h1 class="text-center mb-5">Alunos</h1>

  <table class="table-primary">
    <tr class="fw-bold fs-6" >
      <td >#</td>
      <td>Nome</td>
      <td>E-mail</td>
      <td>Curso</td>
      <td>Matrícula</td>
    </tr>
    <tr *ngFor="let stutend of students" class="">
      <td>{{ stutend.id }}</td>
      <td>{{ stutend.name }}</td>
      <td>{{ stutend.email }}</td>
      <td>{{ stutend.course }}</td>
      <td>{{ stutend.registration }}</td>
    </tr>
  </table>

  <div class="container mt-5 d-flex justify-content-end">
    <button routerLink="/add-student" class="btn btn-primary m-2">Adicionar novo aluno</button>
    <button routerLink="/home" class="btn btn-secondary m-2">Voltar</button>
  </div>
</div>
