<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Controle de Alunos</a>
    <form class="d-flex">
      <button class="btn btn-primary m-2" type="submit">Login</button>
      <button class="btn btn-secondary m-2" type="submit">Register</button>
    </form>
  </div>
</nav>

<div class="container mt-5 text-center">
  <h2 class="container-title display-4">
    Controle de Alunos
  </h2>
  <p class="container-subtitle lead">
    Seja bem-vindo ao sistema de controle de alunos.
  </p>

  <!-- <p class="container-subtitle lead">
    Aqui você pode adicionar e visualizar estudantes.
  </p> -->

  <div class="container mt-5">
    <div class="btn-group m-5 d-flex justify-content-center ">
      <button routerLink="/add-student" class="btn btn-outline-secondary m-4">Adicionar Estudante</button>
      <button routerLink="/students" class="btn btn-primary m-4">Exibir Estudantes</button>
    </div>
</div>
