<div class="container mt-5">

  <h2>Adicione um novo aluno</h2>

  <form (ngSubmit)="addStudent()">
    <div class="form-floating mb-3">
      <input [(ngModel)]="name" type="email" class="form-control" placeholder="Digite o nome completo do aluno">
      <label>Nome Completo</label>
    </div>
    <br/>
    <div class="form-floating mb-3">
      <input [(ngModel)]="email" type="email" class="form-control" placeholder="Digite o email do aluno">
      <label>Email</label>
    </div>
    <br/>
    <div class="form-floating mb-3">
      <input [(ngModel)]="course" type="text" class="form-control" placeholder="Digite o curso do aluno">
      <label>Curso</label>
    </div>
    <br/>
    <div class="container mt-5 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary m-2">Adicionar aluno</button>
      <button routerLink="/students" class="btn btn-secondary m-2">Voltar</button>
    </div>
  </form>
</div>
